/* HomePage.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  width: 450px;
  margin: 100px auto; /* מרכז אוטומטי באמצע */
  padding: 80px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: #f9f9f9;
  text-align: center;
}

.home-container h1 {
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 24px;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-with-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-with-image img {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}

.home-button {
  padding: 12px 24px;
  background-color: #4facfe;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #00a3fe;
}

